GtkEntry.invalid {
    background-color: #ff6666;
    background: #ff6666;
}

/*GtkButton {*/
    /*engine: none;*/
    /*background-color: inherit;*/
    /*background: inherit;*/
    /*color: red;*/
    /*border-top-width: 5px;*/
    /*border-right-width: 10px;*/
    /*border-right-style: solid;*/
    /*border-left-style: solid;*/
    /*border-right-color: rgb(0,255,0);*/
    /*border-left-color: rgb(255,255,0);*/

/*}*/



GtkRadioButton:active{
    background-color: #ff6666;
}

GtkRadioButton.radio{
    background-color:#ff00ff;
    color:#ff00ff;
}

.toggleasd {
    background-color:#000000;
}

/*GtkToggleButton {*/
    /*background-color: #ff6666;*/
/*}*/

/*GtkToggleButton:hover {*/
    /*background-color: #ffffff;*/
/*}*/