

GtkRadioButton:focus{
     background-image: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (shade (#ffaaaa, 1.3)),
                                   to (shade (#ffaaaa, 0.8)));
}

GtkRadioButton:hover{
     background-image: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (shade (#ffaaaa, 1.7)),
                                   to (shade (#ffaaaa, 0.9)));
}

GtkRadioButton:active{
     background-image: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (shade (#ffaaaa, 1.0)),
                                   to (shade (#ffaaaa, 0.7)));
}

GtkLabel {
    font-size:50px;
}

.highlighted {
     background-image: -gtk-gradient (linear,
                                   left top, left bottom,
                                   from (shade (#ffaaaa, 1.0)),
                                   color-stop (0.3, shade (#ff5555, 1.0)),
                                   to (shade (#ff0000, 1.0)));
}
